<div class="container-fluid text-center bg-dark p-4">
    <div class="footer sticky-bottom">
        <div class="row">
            <div class="col">
                <ul class="navbar-nav">
                    <h3>About</h3>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Documentation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Terms & Conditions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Company</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="col copyright">
                    <br>
                    <p class="text-white-50 font-weight-bold">AA Company</p>

                    <p class="text-white-50">© 2019. All Rights Reserved.</small></p>
                </div>
            </div>
        </div>
    </div>
</div>