<nav class="navbar navbar-expand-md bg-light" id="top-bar">
    <div class="container-fluid justify-content-between">
        <div class="float-left">
            <a href="/dashboard" class="navbar-brand float-left" id="logo">
                <img src="Images/logoIcon.png" height="65" width="65" id="logoIcon" alt="Logo of MCS">
                <img src="images/logoName.gif" height="65" width="130" id="logoName" alt="Learning Management System">
            </a>
        </div>

        <div class="float-right">
            <a href="/profile" id="username" class="navbar-brand float-right">
                <img src="Images/user.svg" alt="User Icon" height="35" id="userIcon"
                    class="mb-2 mr-1 bg-dark p-1 rounded-circle d-none d-md-inline">
                <h3 class="d-inline">{{username}}</h3>
            </a>
        </div>
    </div>
</nav>

