$theme-colors: (
  "primary": #d95700,
);

$body-bg: #ededed;

.jumbotron {
  background-color: #ffffff !important;
  border-top: 3px solid rgb(219, 219, 219);
}

// $theme-colors: (
//   "primary": #05033b,
//   "secandary": #31033b,
//   "danger": #ff4136,
// );

// $body-bg: #3b0334;
// $body-color: #12181a;

// bootstrap sass files
@import "../node_modules/bootstrap/scss/bootstrap";
